   <div class="container">
        <div class="container-content">
            <img [src]="country.flags.png" alt="Flag">
            <p><span>Name: </span>{{country.name.common}}</p>
            <p><span>Region: </span>{{country.region}}</p>
            <p><span>Population: </span>{{country.population | number}}</p>
            <p><span>Capital: </span>{{country.capital}}</p>
            <p><span>Currency: </span>{{country.Currency}}</p>
            <p><span>Languages: </span>{{country.Languages}}</p>
        </div>    
    </div>