<form (ngSubmit)="onUpdateCountry()">
    <div class="form-group">
        <title>Update Country</title>
        <label for="name">Country Name:</label>
        <input type="text" id="commonName" [(ngModel)]="updateFormData.name.common" name="commonName" required placeholder="Enter country name">
        <input type="text" id="officialName" [(ngModel)]="updateFormData.name.official" name="officialName" required placeholder="Enter country's offical name">
        <label for="capital">Country Code:</label>
        <input type="text" id="cca2" [(ngModel)]="updateFormData.cca2" name="cca2" placeholder="Enter cca2 Code">
        <input type="text" id="cca3" [(ngModel)]="updateFormData.cca3" name="cca3" placeholder="Enter cca3 Code">
        <label for="region">Country Status:</label>
            <select id="region" name="region" [(ngModel)]="updateFormData.status" required>
                <option *ngFor="let status of statuses" [value]="status">{{ status }}</option>
            </select>
        <label for="unMember">Is the country a UN Member:  (Tick checkbox to mean yes) </label>
        <input type="checkbox" id="unMember" name="unMember" [(ngModel)]="updateFormData.unMember">
        <label for="Idd">Country IDD Prefix:</label>
        <input type="text" id="Idd" [(ngModel)]="updateFormData.idd" name="Idd" placeholder="Enter country idd">
        <label for="capital">Country Capital:</label>
        <input type="text" id="capital" [(ngModel)]="updateFormData.capital" name="capital" required placeholder="Enter country's capital">
        <label for="region">Country Region:</label>
            <select id="region" name="region" [(ngModel)]="updateFormData.region" required>
                <option *ngFor="let region of regions" [value]="region">{{ region }}</option>
            </select>
        <label for="subregion">Country Sub-Region:</label>
        <input type="text" id="subregion" [(ngModel)]="updateFormData.subregion" name="subregion" placeholder="Enter country's subregion">
        <label for="landlocked">Is the country landlocked: (Tick checkbox to mean yes) </label>
        <input type="checkbox" id="landlocked" name="landlocked" [(ngModel)]="updateFormData.landlocked" required> 
        <label for="area">Country Area:</label>
        <input type="number" id="area" [(ngModel)]="updateFormData.area" name="area" required placeholder="Enter country's area in km2">
        <label for="flags">Country Flag:</label>
        <input type="text" id="flagPNG" [(ngModel)]="updateFormData.flags.png" name="flagPNG" >
        <input type="text" id="flagSVG" [(ngModel)]="updateFormData.flags.svg" name="flagSVG" >
        <label for="maps">Country Map:</label>
        <input type="text" id="googleMap" [(ngModel)]="updateFormData.maps.googleMaps" name="googleMap" >
        <input type="text" id="openStreetMaps" [(ngModel)]="updateFormData.maps.openStreetMaps" name="openStreetMaps" >
        <label for="population">Country Population:</label>
        <input type="number" id="population" [(ngModel)]="updateFormData.population" name="population" placeholder="Enter country's populat">
        <label for="coatofarms">Country Coat of Arms:</label>
        <input type="text" id="coatofarmsPNG" [(ngModel)]="updateFormData.coatOfArms.png" name="coatofarmsPNG" >
        <input type="text" id="coatofarmsSVG" [(ngModel)]="updateFormData.coatOfArms.svg" name="coatofarmsSVG" >
        <label for="startofweek">Start of The Week:</label>
            <select id="startofweek" name="startofweek" [(ngModel)]="updateFormData.startOfWeek" >
                <option *ngFor="let startOfWeek of startOfWeeks" [value]="startOfWeek">{{ startOfWeek }}</option>
            </select>


    </div>

  
    <button type="submit">Update Country</button>
</form>
